@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 100px;
  color: #333;
  --type-first: "Roboto", Arial;
  font-family: var(--type-first);
  background-color: #1c2135;
  height: 100%;
}

h1,
h2,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-family: monospace;
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: " ";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #0118eb;
  opacity: 0.7;
  position: absolute;
  bottom: 0px;
  left: 120px;
  border-radius: 0.2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

.header-nav {
  display: flex;
  justify-content: inline;
  gap: 1rem;
}

.exit {
  border: none;
  background: none;
  font-family: "Roboto";
  cursor: pointer;
  color: #ddd;
}

.exit::after {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  background: #ddd;
}

.container-cadastro {
  flex: 1;
  background-color: white;
  padding: 15px 20px;
  border-radius: 0.4rem;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
